<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzl.mapper.YzlDistrictMapper" >

    <resultMap id="BaseResultMap" type="com.yzl.pojo.YzlDistrict" >
        <id column="dcode" property="dcode" jdbcType="INTEGER" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="county" property="county" jdbcType="VARCHAR" />
        <result column="pcode" property="pcode" jdbcType="INTEGER" />
        <result column="shortcode" property="shortcode" jdbcType="VARCHAR" />
        <result column="citycode" property="citycode" jdbcType="VARCHAR" />
        <result column="burg" property="burg" jdbcType="VARCHAR" />
        <result column="village" property="village" jdbcType="VARCHAR" />
        <result column="mark" property="mark" jdbcType="VARCHAR" />
        <result column="flag" property="flag" jdbcType="VARCHAR" />
        <result column="Anumber" property="anumber" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        dcode, city, county, pcode, shortcode, citycode, burg, village, mark, flag, Anumber
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yzl.pojo.YzlDistrictExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from yzl_district
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from yzl_district
        where dcode = #{dcode,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from yzl_district
        where dcode = #{dcode,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.yzl.pojo.YzlDistrictExample" >
        delete from yzl_district
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.yzl.pojo.YzlDistrict" >
        insert into yzl_district (dcode, city, county, 
            pcode, shortcode, citycode, 
            burg, village, mark, 
            flag, Anumber)
        values (#{dcode,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, 
            #{pcode,jdbcType=INTEGER}, #{shortcode,jdbcType=VARCHAR}, #{citycode,jdbcType=VARCHAR}, 
            #{burg,jdbcType=VARCHAR}, #{village,jdbcType=VARCHAR}, #{mark,jdbcType=VARCHAR}, 
            #{flag,jdbcType=VARCHAR}, #{anumber,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.yzl.pojo.YzlDistrict" >
        insert into yzl_district
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="dcode != null" >
                dcode,
            </if>
            <if test="city != null" >
                city,
            </if>
            <if test="county != null" >
                county,
            </if>
            <if test="pcode != null" >
                pcode,
            </if>
            <if test="shortcode != null" >
                shortcode,
            </if>
            <if test="citycode != null" >
                citycode,
            </if>
            <if test="burg != null" >
                burg,
            </if>
            <if test="village != null" >
                village,
            </if>
            <if test="mark != null" >
                mark,
            </if>
            <if test="flag != null" >
                flag,
            </if>
            <if test="anumber != null" >
                Anumber,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="dcode != null" >
                #{dcode,jdbcType=INTEGER},
            </if>
            <if test="city != null" >
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="county != null" >
                #{county,jdbcType=VARCHAR},
            </if>
            <if test="pcode != null" >
                #{pcode,jdbcType=INTEGER},
            </if>
            <if test="shortcode != null" >
                #{shortcode,jdbcType=VARCHAR},
            </if>
            <if test="citycode != null" >
                #{citycode,jdbcType=VARCHAR},
            </if>
            <if test="burg != null" >
                #{burg,jdbcType=VARCHAR},
            </if>
            <if test="village != null" >
                #{village,jdbcType=VARCHAR},
            </if>
            <if test="mark != null" >
                #{mark,jdbcType=VARCHAR},
            </if>
            <if test="flag != null" >
                #{flag,jdbcType=VARCHAR},
            </if>
            <if test="anumber != null" >
                #{anumber,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.yzl.pojo.YzlDistrictExample" resultType="java.lang.Integer" >
        select count(*) from yzl_district
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update yzl_district
        <set >
            <if test="record.dcode != null" >
                dcode = #{record.dcode,jdbcType=INTEGER},
            </if>
            <if test="record.city != null" >
                city = #{record.city,jdbcType=VARCHAR},
            </if>
            <if test="record.county != null" >
                county = #{record.county,jdbcType=VARCHAR},
            </if>
            <if test="record.pcode != null" >
                pcode = #{record.pcode,jdbcType=INTEGER},
            </if>
            <if test="record.shortcode != null" >
                shortcode = #{record.shortcode,jdbcType=VARCHAR},
            </if>
            <if test="record.citycode != null" >
                citycode = #{record.citycode,jdbcType=VARCHAR},
            </if>
            <if test="record.burg != null" >
                burg = #{record.burg,jdbcType=VARCHAR},
            </if>
            <if test="record.village != null" >
                village = #{record.village,jdbcType=VARCHAR},
            </if>
            <if test="record.mark != null" >
                mark = #{record.mark,jdbcType=VARCHAR},
            </if>
            <if test="record.flag != null" >
                flag = #{record.flag,jdbcType=VARCHAR},
            </if>
            <if test="record.anumber != null" >
                Anumber = #{record.anumber,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update yzl_district
        set dcode = #{record.dcode,jdbcType=INTEGER},
            city = #{record.city,jdbcType=VARCHAR},
            county = #{record.county,jdbcType=VARCHAR},
            pcode = #{record.pcode,jdbcType=INTEGER},
            shortcode = #{record.shortcode,jdbcType=VARCHAR},
            citycode = #{record.citycode,jdbcType=VARCHAR},
            burg = #{record.burg,jdbcType=VARCHAR},
            village = #{record.village,jdbcType=VARCHAR},
            mark = #{record.mark,jdbcType=VARCHAR},
            flag = #{record.flag,jdbcType=VARCHAR},
            Anumber = #{record.anumber,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.yzl.pojo.YzlDistrict" >
        update yzl_district
        <set >
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="county != null" >
                county = #{county,jdbcType=VARCHAR},
            </if>
            <if test="pcode != null" >
                pcode = #{pcode,jdbcType=INTEGER},
            </if>
            <if test="shortcode != null" >
                shortcode = #{shortcode,jdbcType=VARCHAR},
            </if>
            <if test="citycode != null" >
                citycode = #{citycode,jdbcType=VARCHAR},
            </if>
            <if test="burg != null" >
                burg = #{burg,jdbcType=VARCHAR},
            </if>
            <if test="village != null" >
                village = #{village,jdbcType=VARCHAR},
            </if>
            <if test="mark != null" >
                mark = #{mark,jdbcType=VARCHAR},
            </if>
            <if test="flag != null" >
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="anumber != null" >
                Anumber = #{anumber,jdbcType=VARCHAR},
            </if>
        </set>
        where dcode = #{dcode,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yzl.pojo.YzlDistrict" >
        update yzl_district
        set city = #{city,jdbcType=VARCHAR},
            county = #{county,jdbcType=VARCHAR},
            pcode = #{pcode,jdbcType=INTEGER},
            shortcode = #{shortcode,jdbcType=VARCHAR},
            citycode = #{citycode,jdbcType=VARCHAR},
            burg = #{burg,jdbcType=VARCHAR},
            village = #{village,jdbcType=VARCHAR},
            mark = #{mark,jdbcType=VARCHAR},
            flag = #{flag,jdbcType=VARCHAR},
            Anumber = #{anumber,jdbcType=VARCHAR}
        where dcode = #{dcode,jdbcType=INTEGER}
    </update>
    <select id="findByCityOrCounty" parameterType="String" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List"></include>
			FROM
			  yzl_district
			  <if test="searchKey!=null">
				WHERE city LIKE "%${searchKey}%"
				 OR county LIKE "%${searchKey}%"
			 </if>
    </select>
    
    <!-- 查询市名并去重复 -->
        <select id="findDistinctCity" resultType="String">
		SELECT 
			distinct city
			FROM
			  yzl_district
    </select>
        <!-- 查询市名并去重复 返回map -->
     <select id="queryDistinctCity" resultType="map">
		SELECT 
			distinct city
			FROM
			  yzl_district
    </select>
    <!-- 根据地区id查询地区标识 -->
 <select id="findMarkByDcode" parameterType="Integer" resultType="String">
		SELECT 
		  d.mark
			FROM
			  yzl_district d
			where 
				d.dcode = #{dcode,jdbcType=INTEGER}
    </select>
    
    <select id="selectValue" resultType="com.yzl.pojo.YzlDistrict">
    	
		SELECT * FROM yzl_district 
		
		<if test="q!=null">
			WHERE city LIKE "%"#{q}"%" OR county LIKE "%"#{q}"%" OR shortcode LIKE "%"#{q}"%" OR citycode
		</if>
		
    </select>
    
    <select id="selectByFlag" resultType="com.yzl.pojo.YzlDistrict">
    	SELECT DISTINCT flag,city,cityCode FROM yzl_district WHERE flag=#{flag}
    </select>
    
    <select id="selectFindAllFlag" resultType="com.yzl.pojo.YzlDistrict">
    	SELECT DISTINCT flag,city FROM yzl_district
    </select>
    
    <select id="selectByDname" resultType="com.yzl.pojo.YzlDistrict">
		SELECT DISTINCT city,flag FROM yzl_district WHERE city = #{dname}
    </select>
    
    <select id="findMarkByCounty" parameterType="String">
    	SELECT mark  FROM yzl_district WHERE county like #{county}
    </select>
    
    <select id="selectByCity" parameterType="java.lang.String" resultType="com.yzl.pojo.YzlDistrict">
    	SELECT * FROM yzl_district 
    	<where>
    		<if test="city != null and city != ''">
    			city = #{city}
    		</if>
    		<if test="permsList != null and permsList.size != ''">
    			and Anumber in
    				<foreach collection="permsList" item="perms" open="(" separator="," close=")">
    					#{perms}
    				</foreach>
    		</if>
    	</where>
    </select>
    
    <!-- 根据县名称查询 -->
    <select id="selectByCounty" resultType="com.yzl.pojo.YzlDistrict">
    	SELECT * FROM yzl_district WHERE county = #{county}
    </select>
    
    <select id="selectByDisinctCity" resultType="com.yzl.pojo.YzlDistrict">
    	SELECT DISTINCT city,flag FROM yzl_district
    	<if test="permsList != null and permsList.size > 0">
	    	<where>
    			Anumber in 
    			<foreach collection="permsList" item="perms" open="(" separator="," close=")">
    				#{perms}
    			</foreach>
	    	</where>
    	</if>
    </select>
    
    <select id="selectByFlags" resultType="com.yzl.pojo.YzlDistrict">
    	SELECT * FROM yzl_district
    	<where>
    		<if test="flag != null and flag != ''">
    			flag = #{flag}
    		</if>
    		<if test="permsList != null and permsList.size > 0">
    		and Anumber IN
    			<foreach collection="permsList" item="perms" open="(" separator="," close=")">
    				#{perms}
    			</foreach>
    		</if>
    	</where>
    	
    </select>
    
    <select id="selectByNumber" resultType="com.yzl.pojo.YzlDistrict">
    	SELECT * FROM yzl_district WHERE Anumber = #{county}
    </select>
	
	
	<!-- 递归查询地区 数据为树形 -->    
        
    <!-- 递归查询子节点 -->
    <resultMap type="com.yzl.utils.vo.DistrictTreeVO" id="recursionDistrictMap" >
        <result column="citycode" property="id"/> <!-- 市级行政编号 -->
        <result column="Anumber" property="id"/> 	<!-- 县级行政编号 -->
        <result column="city" property="text"/>		<!-- 城市名称-->
        <result column="county" property="text"/>	<!-- 县/区名称 -->
        <!-- <collection property="children" ofType="com.yzl.utils.vo.DistrictTreeVO" column="citycode" select="findDistrictByCityCode"/> -->
    </resultMap>
    
    <select id="findDistrictByCityCode" resultMap="recursionDistrictMap">
    	select county,Anumber from `yzl_district` 
    	  where cityCode like #{cityCode}
  		   and   Anumber in 
       <foreach collection="aNumbers" item="aNumber" open="(" close=")" separator="," >
           #{aNumber}
       </foreach>
    	
    </select>
    
    <select id="queryRecursionDistrict" resultMap="recursionDistrictMap">
    	SELECT  DISTINCT city,citycode FROM `yzl_district` where Anumber in 
       <foreach collection="aNumbers" item="aNumber" open="(" close=")" separator="," >
           #{aNumber}
       </foreach>
    </select>
	
    <!-- 根据县名称查询 -->
    <select id="selectCitycodeByCity" resultType="String">
    	SELECT DISTINCT(citycode) FROM yzl_district WHERE city = #{cityName}
    </select>
 
    
</mapper>