<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzl.mapper.YzlEpxDistrictMapper" >

    <resultMap id="BaseResultMap" type="com.yzl.pojo.YzlEpxDistrict" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="dcode" property="dcode" jdbcType="BIGINT" />
        <result column="ecode" property="ecode" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, dcode, ecode
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yzl.pojo.YzlEpxDistrictExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from yzl_epx_district
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from yzl_epx_district
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from yzl_epx_district
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.yzl.pojo.YzlEpxDistrictExample" >
        delete from yzl_epx_district
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.yzl.pojo.YzlEpxDistrict" >
        insert into yzl_epx_district (id, dcode, ecode
            )
        values (#{id,jdbcType=BIGINT}, #{dcode,jdbcType=BIGINT}, #{ecode,jdbcType=BIGINT}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.yzl.pojo.YzlEpxDistrict" >
        insert into yzl_epx_district
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="dcode != null" >
                dcode,
            </if>
            <if test="ecode != null" >
                ecode,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dcode != null" >
                #{dcode,jdbcType=BIGINT},
            </if>
            <if test="ecode != null" >
                #{ecode,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.yzl.pojo.YzlEpxDistrictExample" resultType="java.lang.Integer" >
        select count(*) from yzl_epx_district
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update yzl_epx_district
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.dcode != null" >
                dcode = #{record.dcode,jdbcType=BIGINT},
            </if>
            <if test="record.ecode != null" >
                ecode = #{record.ecode,jdbcType=BIGINT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update yzl_epx_district
        set id = #{record.id,jdbcType=BIGINT},
            dcode = #{record.dcode,jdbcType=BIGINT},
            ecode = #{record.ecode,jdbcType=BIGINT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.yzl.pojo.YzlEpxDistrict" >
        update yzl_epx_district
        <set >
            <if test="dcode != null" >
                dcode = #{dcode,jdbcType=BIGINT},
            </if>
            <if test="ecode != null" >
                ecode = #{ecode,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yzl.pojo.YzlEpxDistrict" >
        update yzl_epx_district
        set dcode = #{dcode,jdbcType=BIGINT},
            ecode = #{ecode,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>