<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzl.mapper.YzlLandscaperenovationMapper" >

    <resultMap id="BaseResultMap" type="com.yzl.pojo.YzlLandscaperenovation" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="dcode" property="dcode" jdbcType="VARCHAR" />
        <result column="ecode" property="ecode" jdbcType="VARCHAR" />
        <result column="designArea" property="designarea" jdbcType="VARCHAR" />
        <result column="IQR" property="iqr" jdbcType="VARCHAR" />
        <result column="verifyAreaT" property="verifyareat" jdbcType="VARCHAR" />
        <result column="verifyArea" property="verifyarea" jdbcType="VARCHAR" />
        <result column="VQAT" property="vqat" jdbcType="VARCHAR" />
        <result column="VQAQR" property="vqaqr" jdbcType="VARCHAR" />
        <result column="nurtureAreaT" property="nurtureareat" jdbcType="VARCHAR" />
        <result column="NANR" property="nanr" jdbcType="VARCHAR" />
        <result column="manageAreaT" property="manageareat" jdbcType="VARCHAR" />
        <result column="manageAreaMR" property="manageareamr" jdbcType="VARCHAR" />
        <result column="newDesignArea" property="newdesignarea" jdbcType="VARCHAR" />
        <result column="newIQR" property="newiqr" jdbcType="VARCHAR" />
        <result column="newVerifyArea" property="newverifyarea" jdbcType="VARCHAR" />
        <result column="newVQA" property="newvqa" jdbcType="VARCHAR" />
        <result column="newNurtureArea" property="newnurturearea" jdbcType="VARCHAR" />
        <result column="newManageArea" property="newmanagearea" jdbcType="VARCHAR" />
        <result column="newVRQR" property="newvrqr" jdbcType="VARCHAR" />
        <result column="newNurture" property="newnurture" jdbcType="VARCHAR" />
        <result column="newManage" property="newmanage" jdbcType="VARCHAR" />
        <result column="patchDesignArea" property="patchdesignarea" jdbcType="VARCHAR" />
        <result column="patchIQR" property="patchiqr" jdbcType="VARCHAR" />
        <result column="patchVerifyArea" property="patchverifyarea" jdbcType="VARCHAR" />
        <result column="patchVQA" property="patchvqa" jdbcType="VARCHAR" />
        <result column="patchNurtureArea" property="patchnurturearea" jdbcType="VARCHAR" />
        <result column="patchManageArea" property="patchmanagearea" jdbcType="VARCHAR" />
        <result column="patchVRQR" property="patchvrqr" jdbcType="VARCHAR" />
        <result column="patchNurture" property="patchnurture" jdbcType="VARCHAR" />
        <result column="patchManage" property="patchmanage" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, dcode, ecode, designArea, IQR, verifyAreaT, verifyArea, VQAT, VQAQR, nurtureAreaT, 
        NANR, manageAreaT, manageAreaMR, newDesignArea, newIQR, newVerifyArea, newVQA, newNurtureArea, 
        newManageArea, newVRQR, newNurture, newManage, patchDesignArea, patchIQR, patchVerifyArea, 
        patchVQA, patchNurtureArea, patchManageArea, patchVRQR, patchNurture, patchManage
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yzl.pojo.YzlLandscaperenovationExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from yzl_landscaperenovation
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from yzl_landscaperenovation
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from yzl_landscaperenovation
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.yzl.pojo.YzlLandscaperenovationExample" >
        delete from yzl_landscaperenovation
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.yzl.pojo.YzlLandscaperenovation" >
        insert into yzl_landscaperenovation (id, dcode, ecode, 
            designArea, IQR, verifyAreaT, 
            verifyArea, VQAT, VQAQR, 
            nurtureAreaT, NANR, manageAreaT, 
            manageAreaMR, newDesignArea, newIQR, 
            newVerifyArea, newVQA, newNurtureArea, 
            newManageArea, newVRQR, newNurture, 
            newManage, patchDesignArea, patchIQR, 
            patchVerifyArea, patchVQA, patchNurtureArea, 
            patchManageArea, patchVRQR, patchNurture, 
            patchManage)
        values (#{id,jdbcType=BIGINT}, #{dcode,jdbcType=VARCHAR}, #{ecode,jdbcType=VARCHAR}, 
            #{designarea,jdbcType=VARCHAR}, #{iqr,jdbcType=VARCHAR}, #{verifyareat,jdbcType=VARCHAR}, 
            #{verifyarea,jdbcType=VARCHAR}, #{vqat,jdbcType=VARCHAR}, #{vqaqr,jdbcType=VARCHAR}, 
            #{nurtureareat,jdbcType=VARCHAR}, #{nanr,jdbcType=VARCHAR}, #{manageareat,jdbcType=VARCHAR}, 
            #{manageareamr,jdbcType=VARCHAR}, #{newdesignarea,jdbcType=VARCHAR}, #{newiqr,jdbcType=VARCHAR}, 
            #{newverifyarea,jdbcType=VARCHAR}, #{newvqa,jdbcType=VARCHAR}, #{newnurturearea,jdbcType=VARCHAR}, 
            #{newmanagearea,jdbcType=VARCHAR}, #{newvrqr,jdbcType=VARCHAR}, #{newnurture,jdbcType=VARCHAR}, 
            #{newmanage,jdbcType=VARCHAR}, #{patchdesignarea,jdbcType=VARCHAR}, #{patchiqr,jdbcType=VARCHAR}, 
            #{patchverifyarea,jdbcType=VARCHAR}, #{patchvqa,jdbcType=VARCHAR}, #{patchnurturearea,jdbcType=VARCHAR}, 
            #{patchmanagearea,jdbcType=VARCHAR}, #{patchvrqr,jdbcType=VARCHAR}, #{patchnurture,jdbcType=VARCHAR}, 
            #{patchmanage,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.yzl.pojo.YzlLandscaperenovation" >
        insert into yzl_landscaperenovation
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="dcode != null" >
                dcode,
            </if>
            <if test="ecode != null" >
                ecode,
            </if>
            <if test="designarea != null" >
                designArea,
            </if>
            <if test="iqr != null" >
                IQR,
            </if>
            <if test="verifyareat != null" >
                verifyAreaT,
            </if>
            <if test="verifyarea != null" >
                verifyArea,
            </if>
            <if test="vqat != null" >
                VQAT,
            </if>
            <if test="vqaqr != null" >
                VQAQR,
            </if>
            <if test="nurtureareat != null" >
                nurtureAreaT,
            </if>
            <if test="nanr != null" >
                NANR,
            </if>
            <if test="manageareat != null" >
                manageAreaT,
            </if>
            <if test="manageareamr != null" >
                manageAreaMR,
            </if>
            <if test="newdesignarea != null" >
                newDesignArea,
            </if>
            <if test="newiqr != null" >
                newIQR,
            </if>
            <if test="newverifyarea != null" >
                newVerifyArea,
            </if>
            <if test="newvqa != null" >
                newVQA,
            </if>
            <if test="newnurturearea != null" >
                newNurtureArea,
            </if>
            <if test="newmanagearea != null" >
                newManageArea,
            </if>
            <if test="newvrqr != null" >
                newVRQR,
            </if>
            <if test="newnurture != null" >
                newNurture,
            </if>
            <if test="newmanage != null" >
                newManage,
            </if>
            <if test="patchdesignarea != null" >
                patchDesignArea,
            </if>
            <if test="patchiqr != null" >
                patchIQR,
            </if>
            <if test="patchverifyarea != null" >
                patchVerifyArea,
            </if>
            <if test="patchvqa != null" >
                patchVQA,
            </if>
            <if test="patchnurturearea != null" >
                patchNurtureArea,
            </if>
            <if test="patchmanagearea != null" >
                patchManageArea,
            </if>
            <if test="patchvrqr != null" >
                patchVRQR,
            </if>
            <if test="patchnurture != null" >
                patchNurture,
            </if>
            <if test="patchmanage != null" >
                patchManage,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dcode != null" >
                #{dcode,jdbcType=VARCHAR},
            </if>
            <if test="ecode != null" >
                #{ecode,jdbcType=VARCHAR},
            </if>
            <if test="designarea != null" >
                #{designarea,jdbcType=VARCHAR},
            </if>
            <if test="iqr != null" >
                #{iqr,jdbcType=VARCHAR},
            </if>
            <if test="verifyareat != null" >
                #{verifyareat,jdbcType=VARCHAR},
            </if>
            <if test="verifyarea != null" >
                #{verifyarea,jdbcType=VARCHAR},
            </if>
            <if test="vqat != null" >
                #{vqat,jdbcType=VARCHAR},
            </if>
            <if test="vqaqr != null" >
                #{vqaqr,jdbcType=VARCHAR},
            </if>
            <if test="nurtureareat != null" >
                #{nurtureareat,jdbcType=VARCHAR},
            </if>
            <if test="nanr != null" >
                #{nanr,jdbcType=VARCHAR},
            </if>
            <if test="manageareat != null" >
                #{manageareat,jdbcType=VARCHAR},
            </if>
            <if test="manageareamr != null" >
                #{manageareamr,jdbcType=VARCHAR},
            </if>
            <if test="newdesignarea != null" >
                #{newdesignarea,jdbcType=VARCHAR},
            </if>
            <if test="newiqr != null" >
                #{newiqr,jdbcType=VARCHAR},
            </if>
            <if test="newverifyarea != null" >
                #{newverifyarea,jdbcType=VARCHAR},
            </if>
            <if test="newvqa != null" >
                #{newvqa,jdbcType=VARCHAR},
            </if>
            <if test="newnurturearea != null" >
                #{newnurturearea,jdbcType=VARCHAR},
            </if>
            <if test="newmanagearea != null" >
                #{newmanagearea,jdbcType=VARCHAR},
            </if>
            <if test="newvrqr != null" >
                #{newvrqr,jdbcType=VARCHAR},
            </if>
            <if test="newnurture != null" >
                #{newnurture,jdbcType=VARCHAR},
            </if>
            <if test="newmanage != null" >
                #{newmanage,jdbcType=VARCHAR},
            </if>
            <if test="patchdesignarea != null" >
                #{patchdesignarea,jdbcType=VARCHAR},
            </if>
            <if test="patchiqr != null" >
                #{patchiqr,jdbcType=VARCHAR},
            </if>
            <if test="patchverifyarea != null" >
                #{patchverifyarea,jdbcType=VARCHAR},
            </if>
            <if test="patchvqa != null" >
                #{patchvqa,jdbcType=VARCHAR},
            </if>
            <if test="patchnurturearea != null" >
                #{patchnurturearea,jdbcType=VARCHAR},
            </if>
            <if test="patchmanagearea != null" >
                #{patchmanagearea,jdbcType=VARCHAR},
            </if>
            <if test="patchvrqr != null" >
                #{patchvrqr,jdbcType=VARCHAR},
            </if>
            <if test="patchnurture != null" >
                #{patchnurture,jdbcType=VARCHAR},
            </if>
            <if test="patchmanage != null" >
                #{patchmanage,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.yzl.pojo.YzlLandscaperenovationExample" resultType="java.lang.Integer" >
        select count(*) from yzl_landscaperenovation
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update yzl_landscaperenovation
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.dcode != null" >
                dcode = #{record.dcode,jdbcType=VARCHAR},
            </if>
            <if test="record.ecode != null" >
                ecode = #{record.ecode,jdbcType=VARCHAR},
            </if>
            <if test="record.designarea != null" >
                designArea = #{record.designarea,jdbcType=VARCHAR},
            </if>
            <if test="record.iqr != null" >
                IQR = #{record.iqr,jdbcType=VARCHAR},
            </if>
            <if test="record.verifyareat != null" >
                verifyAreaT = #{record.verifyareat,jdbcType=VARCHAR},
            </if>
            <if test="record.verifyarea != null" >
                verifyArea = #{record.verifyarea,jdbcType=VARCHAR},
            </if>
            <if test="record.vqat != null" >
                VQAT = #{record.vqat,jdbcType=VARCHAR},
            </if>
            <if test="record.vqaqr != null" >
                VQAQR = #{record.vqaqr,jdbcType=VARCHAR},
            </if>
            <if test="record.nurtureareat != null" >
                nurtureAreaT = #{record.nurtureareat,jdbcType=VARCHAR},
            </if>
            <if test="record.nanr != null" >
                NANR = #{record.nanr,jdbcType=VARCHAR},
            </if>
            <if test="record.manageareat != null" >
                manageAreaT = #{record.manageareat,jdbcType=VARCHAR},
            </if>
            <if test="record.manageareamr != null" >
                manageAreaMR = #{record.manageareamr,jdbcType=VARCHAR},
            </if>
            <if test="record.newdesignarea != null" >
                newDesignArea = #{record.newdesignarea,jdbcType=VARCHAR},
            </if>
            <if test="record.newiqr != null" >
                newIQR = #{record.newiqr,jdbcType=VARCHAR},
            </if>
            <if test="record.newverifyarea != null" >
                newVerifyArea = #{record.newverifyarea,jdbcType=VARCHAR},
            </if>
            <if test="record.newvqa != null" >
                newVQA = #{record.newvqa,jdbcType=VARCHAR},
            </if>
            <if test="record.newnurturearea != null" >
                newNurtureArea = #{record.newnurturearea,jdbcType=VARCHAR},
            </if>
            <if test="record.newmanagearea != null" >
                newManageArea = #{record.newmanagearea,jdbcType=VARCHAR},
            </if>
            <if test="record.newvrqr != null" >
                newVRQR = #{record.newvrqr,jdbcType=VARCHAR},
            </if>
            <if test="record.newnurture != null" >
                newNurture = #{record.newnurture,jdbcType=VARCHAR},
            </if>
            <if test="record.newmanage != null" >
                newManage = #{record.newmanage,jdbcType=VARCHAR},
            </if>
            <if test="record.patchdesignarea != null" >
                patchDesignArea = #{record.patchdesignarea,jdbcType=VARCHAR},
            </if>
            <if test="record.patchiqr != null" >
                patchIQR = #{record.patchiqr,jdbcType=VARCHAR},
            </if>
            <if test="record.patchverifyarea != null" >
                patchVerifyArea = #{record.patchverifyarea,jdbcType=VARCHAR},
            </if>
            <if test="record.patchvqa != null" >
                patchVQA = #{record.patchvqa,jdbcType=VARCHAR},
            </if>
            <if test="record.patchnurturearea != null" >
                patchNurtureArea = #{record.patchnurturearea,jdbcType=VARCHAR},
            </if>
            <if test="record.patchmanagearea != null" >
                patchManageArea = #{record.patchmanagearea,jdbcType=VARCHAR},
            </if>
            <if test="record.patchvrqr != null" >
                patchVRQR = #{record.patchvrqr,jdbcType=VARCHAR},
            </if>
            <if test="record.patchnurture != null" >
                patchNurture = #{record.patchnurture,jdbcType=VARCHAR},
            </if>
            <if test="record.patchmanage != null" >
                patchManage = #{record.patchmanage,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update yzl_landscaperenovation
        set id = #{record.id,jdbcType=BIGINT},
            dcode = #{record.dcode,jdbcType=VARCHAR},
            ecode = #{record.ecode,jdbcType=VARCHAR},
            designArea = #{record.designarea,jdbcType=VARCHAR},
            IQR = #{record.iqr,jdbcType=VARCHAR},
            verifyAreaT = #{record.verifyareat,jdbcType=VARCHAR},
            verifyArea = #{record.verifyarea,jdbcType=VARCHAR},
            VQAT = #{record.vqat,jdbcType=VARCHAR},
            VQAQR = #{record.vqaqr,jdbcType=VARCHAR},
            nurtureAreaT = #{record.nurtureareat,jdbcType=VARCHAR},
            NANR = #{record.nanr,jdbcType=VARCHAR},
            manageAreaT = #{record.manageareat,jdbcType=VARCHAR},
            manageAreaMR = #{record.manageareamr,jdbcType=VARCHAR},
            newDesignArea = #{record.newdesignarea,jdbcType=VARCHAR},
            newIQR = #{record.newiqr,jdbcType=VARCHAR},
            newVerifyArea = #{record.newverifyarea,jdbcType=VARCHAR},
            newVQA = #{record.newvqa,jdbcType=VARCHAR},
            newNurtureArea = #{record.newnurturearea,jdbcType=VARCHAR},
            newManageArea = #{record.newmanagearea,jdbcType=VARCHAR},
            newVRQR = #{record.newvrqr,jdbcType=VARCHAR},
            newNurture = #{record.newnurture,jdbcType=VARCHAR},
            newManage = #{record.newmanage,jdbcType=VARCHAR},
            patchDesignArea = #{record.patchdesignarea,jdbcType=VARCHAR},
            patchIQR = #{record.patchiqr,jdbcType=VARCHAR},
            patchVerifyArea = #{record.patchverifyarea,jdbcType=VARCHAR},
            patchVQA = #{record.patchvqa,jdbcType=VARCHAR},
            patchNurtureArea = #{record.patchnurturearea,jdbcType=VARCHAR},
            patchManageArea = #{record.patchmanagearea,jdbcType=VARCHAR},
            patchVRQR = #{record.patchvrqr,jdbcType=VARCHAR},
            patchNurture = #{record.patchnurture,jdbcType=VARCHAR},
            patchManage = #{record.patchmanage,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.yzl.pojo.YzlLandscaperenovation" >
        update yzl_landscaperenovation
        <set >
            <if test="dcode != null" >
                dcode = #{dcode,jdbcType=VARCHAR},
            </if>
            <if test="ecode != null" >
                ecode = #{ecode,jdbcType=VARCHAR},
            </if>
            <if test="designarea != null" >
                designArea = #{designarea,jdbcType=VARCHAR},
            </if>
            <if test="iqr != null" >
                IQR = #{iqr,jdbcType=VARCHAR},
            </if>
            <if test="verifyareat != null" >
                verifyAreaT = #{verifyareat,jdbcType=VARCHAR},
            </if>
            <if test="verifyarea != null" >
                verifyArea = #{verifyarea,jdbcType=VARCHAR},
            </if>
            <if test="vqat != null" >
                VQAT = #{vqat,jdbcType=VARCHAR},
            </if>
            <if test="vqaqr != null" >
                VQAQR = #{vqaqr,jdbcType=VARCHAR},
            </if>
            <if test="nurtureareat != null" >
                nurtureAreaT = #{nurtureareat,jdbcType=VARCHAR},
            </if>
            <if test="nanr != null" >
                NANR = #{nanr,jdbcType=VARCHAR},
            </if>
            <if test="manageareat != null" >
                manageAreaT = #{manageareat,jdbcType=VARCHAR},
            </if>
            <if test="manageareamr != null" >
                manageAreaMR = #{manageareamr,jdbcType=VARCHAR},
            </if>
            <if test="newdesignarea != null" >
                newDesignArea = #{newdesignarea,jdbcType=VARCHAR},
            </if>
            <if test="newiqr != null" >
                newIQR = #{newiqr,jdbcType=VARCHAR},
            </if>
            <if test="newverifyarea != null" >
                newVerifyArea = #{newverifyarea,jdbcType=VARCHAR},
            </if>
            <if test="newvqa != null" >
                newVQA = #{newvqa,jdbcType=VARCHAR},
            </if>
            <if test="newnurturearea != null" >
                newNurtureArea = #{newnurturearea,jdbcType=VARCHAR},
            </if>
            <if test="newmanagearea != null" >
                newManageArea = #{newmanagearea,jdbcType=VARCHAR},
            </if>
            <if test="newvrqr != null" >
                newVRQR = #{newvrqr,jdbcType=VARCHAR},
            </if>
            <if test="newnurture != null" >
                newNurture = #{newnurture,jdbcType=VARCHAR},
            </if>
            <if test="newmanage != null" >
                newManage = #{newmanage,jdbcType=VARCHAR},
            </if>
            <if test="patchdesignarea != null" >
                patchDesignArea = #{patchdesignarea,jdbcType=VARCHAR},
            </if>
            <if test="patchiqr != null" >
                patchIQR = #{patchiqr,jdbcType=VARCHAR},
            </if>
            <if test="patchverifyarea != null" >
                patchVerifyArea = #{patchverifyarea,jdbcType=VARCHAR},
            </if>
            <if test="patchvqa != null" >
                patchVQA = #{patchvqa,jdbcType=VARCHAR},
            </if>
            <if test="patchnurturearea != null" >
                patchNurtureArea = #{patchnurturearea,jdbcType=VARCHAR},
            </if>
            <if test="patchmanagearea != null" >
                patchManageArea = #{patchmanagearea,jdbcType=VARCHAR},
            </if>
            <if test="patchvrqr != null" >
                patchVRQR = #{patchvrqr,jdbcType=VARCHAR},
            </if>
            <if test="patchnurture != null" >
                patchNurture = #{patchnurture,jdbcType=VARCHAR},
            </if>
            <if test="patchmanage != null" >
                patchManage = #{patchmanage,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yzl.pojo.YzlLandscaperenovation" >
        update yzl_landscaperenovation
        set dcode = #{dcode,jdbcType=VARCHAR},
            ecode = #{ecode,jdbcType=VARCHAR},
            designArea = #{designarea,jdbcType=VARCHAR},
            IQR = #{iqr,jdbcType=VARCHAR},
            verifyAreaT = #{verifyareat,jdbcType=VARCHAR},
            verifyArea = #{verifyarea,jdbcType=VARCHAR},
            VQAT = #{vqat,jdbcType=VARCHAR},
            VQAQR = #{vqaqr,jdbcType=VARCHAR},
            nurtureAreaT = #{nurtureareat,jdbcType=VARCHAR},
            NANR = #{nanr,jdbcType=VARCHAR},
            manageAreaT = #{manageareat,jdbcType=VARCHAR},
            manageAreaMR = #{manageareamr,jdbcType=VARCHAR},
            newDesignArea = #{newdesignarea,jdbcType=VARCHAR},
            newIQR = #{newiqr,jdbcType=VARCHAR},
            newVerifyArea = #{newverifyarea,jdbcType=VARCHAR},
            newVQA = #{newvqa,jdbcType=VARCHAR},
            newNurtureArea = #{newnurturearea,jdbcType=VARCHAR},
            newManageArea = #{newmanagearea,jdbcType=VARCHAR},
            newVRQR = #{newvrqr,jdbcType=VARCHAR},
            newNurture = #{newnurture,jdbcType=VARCHAR},
            newManage = #{newmanage,jdbcType=VARCHAR},
            patchDesignArea = #{patchdesignarea,jdbcType=VARCHAR},
            patchIQR = #{patchiqr,jdbcType=VARCHAR},
            patchVerifyArea = #{patchverifyarea,jdbcType=VARCHAR},
            patchVQA = #{patchvqa,jdbcType=VARCHAR},
            patchNurtureArea = #{patchnurturearea,jdbcType=VARCHAR},
            patchManageArea = #{patchmanagearea,jdbcType=VARCHAR},
            patchVRQR = #{patchvrqr,jdbcType=VARCHAR},
            patchNurture = #{patchnurture,jdbcType=VARCHAR},
            patchManage = #{patchmanage,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>