<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzl.mapper.YzlLogMapper" >

    <resultMap id="BaseResultMap" type="com.yzl.pojo.YzlLog" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="operate" property="operate" jdbcType="VARCHAR" />
        <result column="operate_time" property="operateTime" jdbcType="VARCHAR" />
        <result column="dcode" property="dcode" jdbcType="VARCHAR" />
        <result column="gclb" property="gclb" jdbcType="VARCHAR" />
        <result column="zllb" property="zllb" jdbcType="VARCHAR" />
        <result column="year" property="year" jdbcType="VARCHAR" />
        <result column="filename" property="filename" jdbcType="VARCHAR" />
        <result column="lea" property="lea" jdbcType="VARCHAR" />
        <result column="stat" property="stat" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, name, operate, operate_time, dcode, gclb, zllb, year, filename, lea, stat
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yzl.pojo.YzlLogExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from yzl_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from yzl_log
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from yzl_log
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.yzl.pojo.YzlLogExample" >
        delete from yzl_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.yzl.pojo.YzlLog" >
        insert into yzl_log (id, name, operate, 
            operate_time, dcode, gclb, 
            zllb, year, filename, 
            lea, stat)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{operate,jdbcType=VARCHAR}, 
            #{operateTime,jdbcType=VARCHAR}, #{dcode,jdbcType=VARCHAR}, #{gclb,jdbcType=VARCHAR}, 
            #{zllb,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, 
            #{lea,jdbcType=VARCHAR}, #{stat,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.yzl.pojo.YzlLog" >
        insert into yzl_log
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="operate != null" >
                operate,
            </if>
            <if test="operateTime != null" >
                operate_time,
            </if>
            <if test="dcode != null" >
                dcode,
            </if>
            <if test="gclb != null" >
                gclb,
            </if>
            <if test="zllb != null" >
                zllb,
            </if>
            <if test="year != null" >
                year,
            </if>
            <if test="filename != null" >
                filename,
            </if>
            <if test="lea != null" >
                lea,
            </if>
            <if test="stat != null" >
                stat,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="operate != null" >
                #{operate,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null" >
                #{operateTime,jdbcType=VARCHAR},
            </if>
            <if test="dcode != null" >
                #{dcode,jdbcType=VARCHAR},
            </if>
            <if test="gclb != null" >
                #{gclb,jdbcType=VARCHAR},
            </if>
            <if test="zllb != null" >
                #{zllb,jdbcType=VARCHAR},
            </if>
            <if test="year != null" >
                #{year,jdbcType=VARCHAR},
            </if>
            <if test="filename != null" >
                #{filename,jdbcType=VARCHAR},
            </if>
            <if test="lea != null" >
                #{lea,jdbcType=VARCHAR},
            </if>
            <if test="stat != null" >
                #{stat,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.yzl.pojo.YzlLogExample" resultType="java.lang.Integer" >
        select count(*) from yzl_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update yzl_log
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.name != null" >
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.operate != null" >
                operate = #{record.operate,jdbcType=VARCHAR},
            </if>
            <if test="record.operateTime != null" >
                operate_time = #{record.operateTime,jdbcType=VARCHAR},
            </if>
            <if test="record.dcode != null" >
                dcode = #{record.dcode,jdbcType=VARCHAR},
            </if>
            <if test="record.gclb != null" >
                gclb = #{record.gclb,jdbcType=VARCHAR},
            </if>
            <if test="record.zllb != null" >
                zllb = #{record.zllb,jdbcType=VARCHAR},
            </if>
            <if test="record.year != null" >
                year = #{record.year,jdbcType=VARCHAR},
            </if>
            <if test="record.filename != null" >
                filename = #{record.filename,jdbcType=VARCHAR},
            </if>
            <if test="record.lea != null" >
                lea = #{record.lea,jdbcType=VARCHAR},
            </if>
            <if test="record.stat != null" >
                stat = #{record.stat,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update yzl_log
        set id = #{record.id,jdbcType=INTEGER},
            name = #{record.name,jdbcType=VARCHAR},
            operate = #{record.operate,jdbcType=VARCHAR},
            operate_time = #{record.operateTime,jdbcType=VARCHAR},
            dcode = #{record.dcode,jdbcType=VARCHAR},
            gclb = #{record.gclb,jdbcType=VARCHAR},
            zllb = #{record.zllb,jdbcType=VARCHAR},
            year = #{record.year,jdbcType=VARCHAR},
            filename = #{record.filename,jdbcType=VARCHAR},
            lea = #{record.lea,jdbcType=VARCHAR},
            stat = #{record.stat,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.yzl.pojo.YzlLog" >
        update yzl_log
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="operate != null" >
                operate = #{operate,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null" >
                operate_time = #{operateTime,jdbcType=VARCHAR},
            </if>
            <if test="dcode != null" >
                dcode = #{dcode,jdbcType=VARCHAR},
            </if>
            <if test="gclb != null" >
                gclb = #{gclb,jdbcType=VARCHAR},
            </if>
            <if test="zllb != null" >
                zllb = #{zllb,jdbcType=VARCHAR},
            </if>
            <if test="year != null" >
                year = #{year,jdbcType=VARCHAR},
            </if>
            <if test="filename != null" >
                filename = #{filename,jdbcType=VARCHAR},
            </if>
            <if test="lea != null" >
                lea = #{lea,jdbcType=VARCHAR},
            </if>
            <if test="stat != null" >
                stat = #{stat,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yzl.pojo.YzlLog" >
        update yzl_log
        set name = #{name,jdbcType=VARCHAR},
            operate = #{operate,jdbcType=VARCHAR},
            operate_time = #{operateTime,jdbcType=VARCHAR},
            dcode = #{dcode,jdbcType=VARCHAR},
            gclb = #{gclb,jdbcType=VARCHAR},
            zllb = #{zllb,jdbcType=VARCHAR},
            year = #{year,jdbcType=VARCHAR},
            filename = #{filename,jdbcType=VARCHAR},
            lea = #{lea,jdbcType=VARCHAR},
            stat = #{stat,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findLog" resultType="com.yzl.pojo.YzlLog">
    	SELECT NAME,operate,operate_time as operateTime,dcode,GCLB,YEAR,filename,lea,stat FROM yzl_log 
		<where>
			<if test="anumber != null and anumber != '' and anumber != 'null'">
				And dcode = #{anumber}
			</if>
			<if test="time != null and time != '' and time != 'null'">
				AND YEAR = #{time}
			</if>
			<if test="zllb != null and zllb != '' and zllb != 'null'">
				AND GCLB LIKE "%"#{zllb}"%" 
			</if>
			  
		</where>
		ORDER BY operate_time DESC
    </select>
</mapper>