<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzl.mapper.YzlMenuMapper" >

    <resultMap id="BaseResultMap" type="com.yzl.pojo.YzlMenu" >
        <id column="menu_id" property="menuId" jdbcType="BIGINT" />
        <result column="pid" property="pid" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="perms" property="perms" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="generatemenu" property="generatemenu" jdbcType="VARCHAR" />
        <result column="order_num" property="orderNum" jdbcType="INTEGER" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
    </resultMap>
	
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        menu_id, pid, name, perms, description, url, generatemenu, order_num, icon
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yzl.pojo.YzlMenuExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from yzl_menu
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from yzl_menu
        where menu_id = #{menuId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from yzl_menu
        where menu_id = #{menuId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.yzl.pojo.YzlMenuExample" >
        delete from yzl_menu
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.yzl.pojo.YzlMenu" >
        insert into yzl_menu (menu_id, pid, name, 
            perms, description, url, 
            generatemenu, order_num, icon
            )
        values (#{menuId,jdbcType=BIGINT}, #{pid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
            #{perms,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
            #{generatemenu,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.yzl.pojo.YzlMenu" >
        insert into yzl_menu
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="menuId != null" >
                menu_id,
            </if>
            <if test="pid != null" >
                pid,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="perms != null" >
                perms,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="url != null" >
                url,
            </if>
            <if test="generatemenu != null" >
                generatemenu,
            </if>
            <if test="orderNum != null" >
                order_num,
            </if>
            <if test="icon != null" >
                icon,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="menuId != null" >
                #{menuId,jdbcType=BIGINT},
            </if>
            <if test="pid != null" >
                #{pid,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="perms != null" >
                #{perms,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="generatemenu != null" >
                #{generatemenu,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null" >
                #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="icon != null" >
                #{icon,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.yzl.pojo.YzlMenuExample" resultType="java.lang.Integer" >
        select count(*) from yzl_menu
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update yzl_menu
        <set >
            <if test="record.menuId != null" >
                menu_id = #{record.menuId,jdbcType=BIGINT},
            </if>
            <if test="record.pid != null" >
                pid = #{record.pid,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null" >
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.perms != null" >
                perms = #{record.perms,jdbcType=VARCHAR},
            </if>
            <if test="record.description != null" >
                description = #{record.description,jdbcType=VARCHAR},
            </if>
            <if test="record.url != null" >
                url = #{record.url,jdbcType=VARCHAR},
            </if>
            <if test="record.generatemenu != null" >
                generatemenu = #{record.generatemenu,jdbcType=VARCHAR},
            </if>
            <if test="record.orderNum != null" >
                order_num = #{record.orderNum,jdbcType=INTEGER},
            </if>
            <if test="record.icon != null" >
                icon = #{record.icon,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update yzl_menu
        set menu_id = #{record.menuId,jdbcType=BIGINT},
            pid = #{record.pid,jdbcType=VARCHAR},
            name = #{record.name,jdbcType=VARCHAR},
            perms = #{record.perms,jdbcType=VARCHAR},
            description = #{record.description,jdbcType=VARCHAR},
            url = #{record.url,jdbcType=VARCHAR},
            generatemenu = #{record.generatemenu,jdbcType=VARCHAR},
            order_num = #{record.orderNum,jdbcType=INTEGER},
            icon = #{record.icon,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.yzl.pojo.YzlMenu" >
        update yzl_menu
        <set >
            <if test="pid != null" >
                pid = #{pid,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="perms != null" >
                perms = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="generatemenu != null" >
                generatemenu = #{generatemenu,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null" >
                order_num = #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="icon != null" >
                icon = #{icon,jdbcType=VARCHAR},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yzl.pojo.YzlMenu" >
        update yzl_menu
        set pid = #{pid,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
            perms = #{perms,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            url = #{url,jdbcType=VARCHAR},
            generatemenu = #{generatemenu,jdbcType=VARCHAR},
            order_num = #{orderNum,jdbcType=INTEGER},
            icon = #{icon,jdbcType=VARCHAR}
        where menu_id = #{menuId,jdbcType=BIGINT}
    </update>
    

    
    <!-- 递归查询子节点 -->
    <resultMap type="com.yzl.utils.vo.TreeVO" id="recursionMenuMap" >
        <id column="menu_id" property="id"/>
        <result column="name" property="name"/>
        <result column="generatemenu" property="generatemenu"/>
        <result column="icon" property="icon"/>
        <collection property="children" ofType="com.yzl.utils.vo.TreeVO" column="menu_id" select="findMenuByParentId"/>
    </resultMap>
    
    <select id="findMenuByParentId" resultMap="recursionMenuMap">
        SELECT 
        <include refid="Base_Column_List"></include> 
        FROM yzl_menu WHERE pid = #{id} ORDER BY order_num ASC
    </select>
    
    <select id="findAllRecursion" resultMap="recursionMenuMap">
        SELECT menu_id,name,pid,url,generatemenu,icon FROM yzl_menu WHERE pid ='' or pid is NULL ORDER BY order_num ASC
    </select>
    
    <resultMap type="com.yzl.utils.vo.TreeVO" id="treeVOMap">
    	<id column="menu_id" property="id"/>
        <result column="name" property="name"/>
        <result column="generatemenu" property="generatemenu"/>
        <result column="icon" property="icon"/>
    </resultMap>
    
     <sql id="result_Base" >
        m.menu_id, m.pid, m.name, m.perms, m.url
    </sql>
    <!-- 根据角色id查询所有权限 -->
    <select id="findFunctionByRoleId"  resultMap="treeVOMap">
        select 
           <include refid="result_Base"></include> 
			from
			  yzl_menu m
			  inner join yzl_role_menu rm
			    on m.menu_id = rm.menu_id
			  inner join yzl_role r
			    on rm.role_id = r.id
			where r.id = #{roleId};
    </select>
    
    <select id="findMenuByRoleId" resultType="com.yzl.pojo.YzlMenu">
    	SELECT
    	 <include refid="Base_Column_List"></include>
    		 FROM yzl_menu WHERE menu_id IN (
				SELECT menu_id FROM yzl_role_menu WHERE role_id = #{valueOf})
    </select>
    <!-- 根据pid进行查询 -->
    <select id="findByPid" resultType="com.yzl.pojo.YzlMenu">
    	SELECT menu_id as menuId,pid,NAME,perms,url,generatemenu,order_num,icon FROM yzl_menu WHERE pid = #{pid}
    </select>
    
    <select id="findAll" resultType="com.yzl.pojo.YzlMenu">
    	SELECT menu_id as menuId,pid,name,perms,url,generatemenu,order_num,icon FROM yzl_menu where pid is null
    </select>
    
    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT perms,name,url,icon,pid,menu_id,generatemenu FROM yzl_menu WHERE menu_id IN (
		SELECT DISTINCT menu_id FROM yzl_role_menu WHERE role_id IN
		(
		SELECT role_id FROM yzl_user_role WHERE user_id = #{id}
		)
	)
    </select>
    
    <select id="findAllMenue" resultType="com.yzl.pojo.YzlMenu">
    	
    </select>
    
    <!-- 根据用户Id查询所有权限标识 -->
     <select id="queryPermsByUserId" parameterType="java.lang.Integer" resultType="String">
			SELECT m.`perms` FROM `yzl_menu` m
				INNER JOIN `yzl_role_menu` rm ON rm.`menu_id`=m.`menu_id`
				INNER JOIN `yzl_role` r ON r.`id` = rm.`role_id` 
				INNER JOIN `yzl_user_role` ur ON r.`id`=ur.`role_id`
				INNER JOIN `yzl_user` u ON ur.`user_id` = u.`id`
				WHERE u.`id`=#{userId,jdbcType=BIGINT} AND m.`perms` IS NOT NULL 
    </select>
    
    <select id="selectByUid" resultType="com.yzl.pojo.YzlEpcTaskProgress">
    	SELECT * FROM yzl_epc_task_progress  
		
		<where>
			<if test="userId != null and userId != ''">
				and mark IN (
				SELECT DISTINCT perms FROM yzl_menu WHERE menu_id IN(			
				SELECT menu_id FROM yzl_role_menu WHERE role_id IN(
				SELECT role_id FROM yzl_user_role WHERE user_id=#{userId}
				)) )
			</if>
    		<if test="dpcode != null and dpcode != ''">
				 and dpcode = #{dpcode}
			</if>
			<if test="epcode != null and epcode != ''">
				and epcode = #{epcode}
			</if>
			<if test="tpcode != null and tpcode != ''">
				and tpcode = #{tpcode}
			</if>
			
			<if test="time != null and time != ''">
				and createtime like "%"#{time}"%"
			</if>
    	</where>
    	LIMIT #{page},#{rows}
    </select>
    
    <select id="selectByUidStiti" resultType="com.yzl.pojo.YzlEpcTaskProgress">
    	SELECT * FROM yzl_epc_task_progress <!-- WHERE mark IN ( -->
		<!-- SELECT DISTINCT perms FROM yzl_menu WHERE menu_id IN(			
		SELECT menu_id FROM yzl_role_menu WHERE role_id IN(
		SELECT role_id FROM yzl_user_role WHERE user_id=#{userId}
		)) ) -->
		<where>
			<if test="userId != null and userId != ''">
				and mark IN (
				SELECT DISTINCT perms FROM yzl_menu WHERE menu_id IN(			
				SELECT menu_id FROM yzl_role_menu WHERE role_id IN(
				SELECT role_id FROM yzl_user_role WHERE user_id=#{userId}
				)) )
			</if>
    		<if test="dpcode != null and dpcode != ''">
				 and dpcode = #{dpcode}
			</if>
			<if test="epcode != null and epcode != ''">
				and epcode = #{epcode}
			</if>
			<if test="tpcode != null and tpcode != ''">
				and tpcode = #{tpcode}
			</if>
			
			<if test="time != null and time != ''">
				and createtime like "%"#{time}"%"
			</if>
    	</where>
    </select>
    
    <select id="selectFindAllETP" resultType="com.yzl.pojo.YzlEpcTaskProgress">
    	SELECT * FROM yzl_epc_task_progress
    	<where>
    		<if test="dpcode != null and dpcode != ''">
				 and dpcode = #{dpcode}
			</if>
			<if test="epcode != null and epcode != ''">
				and epcode = #{epcode}
			</if>
			<if test="tpcode != null and tpcode != ''">
				and tpcode = #{tpcode}
			</if>
			
			<if test="time != null and time != ''">
				and createtime like "%"#{time}"%"
			</if>
    	</where>
    </select>
    
    <!-- 0page,1rows,2did,3epcode,4tpcode,5time -->
    <select id="selectFindAllETPAndPage" resultType="com.yzl.pojo.YzlEpcTaskProgress">
    	SELECT * 
		FROM yzl_epc_task_progress 
		<where>
			<if test="dpcode != null and dpcode != ''">
				and dpcode = #{dpcode}
			</if>
			<if test="epcode != null and epcode != ''">
				and epcode = #{epcode} 
			</if>
			<if test="tpcode != null and tpcode != ''">
				and tpcode = #{tpcode}
			</if>
			<if test="time != null and time != ''">
				and createtime like "%"#{time}"%"
			</if>
		</where>
			LIMIT #{page},#{rows}
    </select>
    
    <select id="selectByEcode" parameterType="java.lang.Integer" resultType="com.yzl.pojo.YzlTask">
    	SELECT * FROM yzl_task WHERE tcode IN (
		SELECT tpcode FROM yzl_epc_task_progress WHERE epcode = #{epcode})
    </select>
    <select id="selectbyPerms" resultType="java.lang.Integer">
    	SELECT  m.menu_id FROM `yzl_menu` m WHERE m.`perms` = #{perms}
    </select>
    
    <!-- 主节点 -->
    <select id="selectByUserIdHost" parameterType="java.lang.Integer" resultType="com.yzl.pojo.YzlMenu">
    	SELECT menu_id as menuId,pid,name,url,icon,generatemenu,perms FROM yzl_menu WHERE menu_id IN (
		SELECT DISTINCT menu_id FROM yzl_role_menu WHERE role_id IN
		(
		SELECT role_id FROM yzl_user_role WHERE user_id = #{id}
		)
		) and pid is null and generatemenu = 1
    </select>
    
    <!-- 子节点 -->
    <select id="selectByUserIdSon" parameterType="java.lang.Integer" resultType="com.yzl.pojo.YzlMenu">
    	SELECT menu_id as menuId,pid,NAME,url,icon,generatemenu,perms FROM yzl_menu WHERE menu_id IN (
		SELECT DISTINCT menu_id FROM yzl_role_menu WHERE role_id IN
		(
		SELECT role_id FROM yzl_user_role WHERE user_id = #{id}
		)
		) AND pid is not NULL
    </select>
    
    <select id="selectByUserIdPerms" parameterType="java.lang.String" resultType="java.lang.String">
    	SELECT perms FROM yzl_menu WHERE menu_id IN (
		SELECT DISTINCT menu_id FROM yzl_role_menu WHERE role_id IN
		(
		SELECT role_id FROM yzl_user_role WHERE user_id = #{id}
		)
		) AND pid IS NOT NULL
    </select>
</mapper>