<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzl.mapper.YzlTaskProgressSheetMapper" >

    <resultMap id="BaseResultMap" type="com.yzl.pojo.YzlTaskProgressSheet" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="taskProgress" property="taskprogress" jdbcType="REAL" />
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="epcode" property="epcode" jdbcType="INTEGER" />
        <result column="tpcode" property="tpcode" jdbcType="INTEGER" />
        <result column="dpcode" property="dpcode" jdbcType="INTEGER" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
        <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
        <result column="mark" property="mark" jdbcType="VARCHAR" />
        <result column="sendBack" property="sendback" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>


       <!-- 跟用户所拥有的权限进行查询 -->
     <select id="queryByUserPower" parameterType="list" resultMap="TaskDistrictResultMap">
    	SELECT 
 		   <include refid="TaskProgressDistrictList"></include>  
			 FROM `yzl_task_progress_sheet` tps INNER JOIN `yzl_district` d ON tps.`dpcode`=d.`dcode`  WHERE tps.mark IN 
          <foreach collection="list" item="mark" open="(" close=")" separator="," >
               #{mark}
           </foreach>
           <if test="area!=null and area!=''">
           		AND (d.city like "%"#{area}"%" or d.county like "%"#{area}"%")
           </if>
           <if test="year!=null and year!=''">
           		AND tps.createTime like #{year}"%"
           </if>
           AND tps.mark NOT LIKE '%finish'
 			     ORDER BY d.city DESC 
    </select>
    

    <sql id="Base_Column_List" >
        id, taskProgress, createTime, epcode, tpcode, dpcode, creator, modifier, updateTime, 
        mark, sendBack
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yzl.pojo.YzlTaskProgressSheetExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from yzl_task_progress_sheet
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from yzl_task_progress_sheet
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from yzl_task_progress_sheet
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.yzl.pojo.YzlTaskProgressSheetExample" >
        delete from yzl_task_progress_sheet
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.yzl.pojo.YzlTaskProgressSheet" >
        insert into yzl_task_progress_sheet (id, taskProgress, createTime, 
            epcode, tpcode, dpcode, 
            creator, modifier, updateTime, 
            mark, sendBack)
        values (#{id,jdbcType=BIGINT}, #{taskprogress,jdbcType=REAL}, #{createtime,jdbcType=TIMESTAMP}, 
            #{epcode,jdbcType=INTEGER}, #{tpcode,jdbcType=INTEGER}, #{dpcode,jdbcType=INTEGER}, 
            #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
            #{mark,jdbcType=VARCHAR}, #{sendback,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="com.yzl.pojo.YzlTaskProgressSheet" >
        insert into yzl_task_progress_sheet
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="taskprogress != null" >
                taskProgress,
            </if>
            <if test="createtime != null" >
                createTime,
            </if>
            <if test="epcode != null" >
                epcode,
            </if>
            <if test="tpcode != null" >
                tpcode,
            </if>
            <if test="dpcode != null" >
                dpcode,
            </if>
            <if test="creator != null" >
                creator,
            </if>
            <if test="modifier != null" >
                modifier,
            </if>
            <if test="updatetime != null" >
                updateTime,
            </if>
            <if test="mark != null" >
                mark,
            </if>
            <if test="sendback != null" >
                sendBack,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="taskprogress != null" >
                #{taskprogress,jdbcType=REAL},
            </if>
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="epcode != null" >
                #{epcode,jdbcType=INTEGER},
            </if>
            <if test="tpcode != null" >
                #{tpcode,jdbcType=INTEGER},
            </if>
            <if test="dpcode != null" >
                #{dpcode,jdbcType=INTEGER},
            </if>
            <if test="creator != null" >
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null" >
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null" >
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="mark != null" >
                #{mark,jdbcType=VARCHAR},
            </if>
            <if test="sendback != null" >
                #{sendback,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.yzl.pojo.YzlTaskProgressSheetExample" resultType="java.lang.Integer" >
        select count(*) from yzl_task_progress_sheet
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update yzl_task_progress_sheet
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.taskprogress != null" >
                taskProgress = #{record.taskprogress,jdbcType=REAL},
            </if>
            <if test="record.createtime != null" >
                createTime = #{record.createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.epcode != null" >
                epcode = #{record.epcode,jdbcType=INTEGER},
            </if>
            <if test="record.tpcode != null" >
                tpcode = #{record.tpcode,jdbcType=INTEGER},
            </if>
            <if test="record.dpcode != null" >
                dpcode = #{record.dpcode,jdbcType=INTEGER},
            </if>
            <if test="record.creator != null" >
                creator = #{record.creator,jdbcType=VARCHAR},
            </if>
            <if test="record.modifier != null" >
                modifier = #{record.modifier,jdbcType=VARCHAR},
            </if>
            <if test="record.updatetime != null" >
                updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.mark != null" >
                mark = #{record.mark,jdbcType=VARCHAR},
            </if>
            <if test="record.sendback != null" >
                sendBack = #{record.sendback,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update yzl_task_progress_sheet
        set id = #{record.id,jdbcType=BIGINT},
            taskProgress = #{record.taskprogress,jdbcType=REAL},
            createTime = #{record.createtime,jdbcType=TIMESTAMP},
            epcode = #{record.epcode,jdbcType=INTEGER},
            tpcode = #{record.tpcode,jdbcType=INTEGER},
            dpcode = #{record.dpcode,jdbcType=INTEGER},
            creator = #{record.creator,jdbcType=VARCHAR},
            modifier = #{record.modifier,jdbcType=VARCHAR},
            updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
            mark = #{record.mark,jdbcType=VARCHAR},
            sendBack = #{record.sendback,jdbcType=INTEGER}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.yzl.pojo.YzlTaskProgressSheet" >
        update yzl_task_progress_sheet
        <set >
            <if test="taskprogress != null" >
                taskProgress = #{taskprogress,jdbcType=REAL},
            </if>
            <if test="createtime != null" >
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="epcode != null" >
                epcode = #{epcode,jdbcType=INTEGER},
            </if>
            <if test="tpcode != null" >
                tpcode = #{tpcode,jdbcType=INTEGER},
            </if>
            <if test="dpcode != null" >
                dpcode = #{dpcode,jdbcType=INTEGER},
            </if>
            <if test="creator != null" >
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null" >
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null" >
                updateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="mark != null" >
                mark = #{mark,jdbcType=VARCHAR},
            </if>
            <if test="sendback != null" >
                sendBack = #{sendback,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yzl.pojo.YzlTaskProgressSheet" >
        update yzl_task_progress_sheet
        set taskProgress = #{taskprogress,jdbcType=REAL},
            createTime = #{createtime,jdbcType=TIMESTAMP},
            epcode = #{epcode,jdbcType=INTEGER},
            tpcode = #{tpcode,jdbcType=INTEGER},
            dpcode = #{dpcode,jdbcType=INTEGER},
            creator = #{creator,jdbcType=VARCHAR},
            modifier = #{modifier,jdbcType=VARCHAR},
            updateTime = #{updatetime,jdbcType=TIMESTAMP},
            mark = #{mark,jdbcType=VARCHAR},
            sendBack = #{sendback,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
 
 					<!--   111111111111111111111111111111111111111111111111111111111111 -->
 
    <sql id="TaskProgressDistrictList" >
        id, taskProgress, creator,createTime, tps.updateTime,epcode, tpcode, dpcode,dcode,city,county,burg,village,tps.mark
    </sql>
    
     <resultMap id="TaskDistrictResultMap" type="com.yzl.pojo.YzlTaskProgressSheet">
    	<id column="id" property="id"/>
        <result column="taskprogress" property="taskprogress"/>
		<result column="tpcode" property="tpcode"/>
		<result column="epcode" property="epcode"/>
		<result column="creator" property="creator"/>
		<result column="mark" property="mark"/>
		<result column="dpcode" property="dpcode"/>
		<result column="updateTime" property="updatetime"/>
		<result column="createTime" property="createtime"/>
		<association property="district" javaType="com.yzl.pojo.YzlDistrict">
			<id property="dcode" column="dcode"></id>
			<result property="city" column="city"></result>
			<result property="county" column="county"></result>
			<result property="burg" column="burg"></result>
			<result property="village" column="village"></result>
		</association>
    </resultMap>
    
    <resultMap id="TaskprogressSheetMap" type="com.yzl.pojo.YzlTaskProgressSheet">
    	<id column="id" property="id"/>
        <result column="taskprogress" property="taskprogress"/>
		<result column="epcode" property="epcode"/>
		<result column="creator" property="creator"/>
		<result column="dpcode" property="dpcode"/>
		<result column="createTime" property="createtime"/>
		<association property="district" javaType="com.yzl.pojo.YzlDistrict">
			<id property="dcode" column="dcode"></id>
			<result property="city" column="city"></result>
			<result property="county" column="county"></result>
		</association>
		<association property="task" javaType="com.yzl.pojo.YzlTask">
			<id property="tcode" column="tcode"></id>
			<result property="tname" column="tname"></result>
		</association>
    </resultMap>
    	<!-- 分页查询所有任务，如果有工程id则根据工程id查询 -->
    <select id="queryTaskDistrictByEcode" parameterType="java.lang.Integer" resultMap="TaskDistrictResultMap">
    	SELECT 
 		 <include refid="TaskProgressDistrictList"></include> 
    	 FROM yzl_task_progress_sheet tps 
    		LEFT JOIN yzl_district d  
    			ON tps.dpcode= d.dcode 
    				LEFT JOIN yzl_epc e 
    					ON tps.epcode=e.ecode 
    				<where>
    					<if test="ecode>0">
    					 	WHERE e.ecode=#{ecode} 
    					 </if>  
    				</where> 
	</select>    
        <!-- 更新发布任务的基数 -->
    <update id="updateTaskProgressSheet" parameterType="com.yzl.pojo.YzlTaskProgressSheet">
    	UPDATE `yzl_task_progress_sheet` 
    	<set>
	    	<if test="taskprogress != null">
		    	taskProgress = ${taskprogress},
		    </if>
		    <if test="modifier != null">
	    		modifier=#{modifier},
	    	</if>
	    	<if test="mark != null">
	    		mark = #{mark}
	    	</if>
    	</set> 
    	WHERE tpcode=${tpcode}
    	AND 
    	epcode = ${epcode} 
    	AND createTime LIKE #{databasetime} 
    </update>
    
    
            <!-- 更新发布任务的基数 -->
    <update id="update11" parameterType="com.yzl.pojo.YzlTaskProgressSheet">
    	UPDATE `yzl_task_progress_sheet` 
    	<set>
	    	<if test="taskprogress != null">
		    	taskProgress = ${taskprogress},
		    </if>
    	</set> 
    	WHERE tpcode=${tpcode}
    	AND 
    	epcode = ${epcode} 
    	AND dpcode = ${dpcode} 
    </update>
    
    
    <select id="countByEcodeAndTpcodeAndDpcode" resultType="com.yzl.pojo.YzlTaskProgressSheet">
    	select * from `yzl_task_progress_sheet` where epcode=${ecode} and tpcode=${Tpcode} and dpcode =${Dpcode}
    </select>
        <!-- 删除下发任务的基数 -->
     <delete id="deleteByEcodeAndDpcodeAndCreateTime" parameterType="com.yzl.pojo.YzlTaskProgressSheet" >
        delete from `yzl_task_progress_sheet`
        <where>
			createTime LIKE #{databasetime}
			AND dpcode = ${dpcode}
        	AND epcode = ${epcode}
        </where>
    </delete>
    
      <select id="countCreateTimeAlsoDistinct" resultType="Integer" parameterType="Integer">
  		  SELECT COUNT(DISTINCT createTime) FROM `yzl_task_progress_sheet`
 		  <if test="epcode>0">
 		   where epcode=${epcode}
 		  </if>
    </select>

    <!-- 跟工程id和状态查看任务进度-->
    <select id="queryByEcodeAndMark" resultMap="TaskDistrictResultMap">
    	SELECT 
 		 <include refid="TaskProgressDistrictList"></include> 
    	 FROM yzl_task_progress_sheet tps 
    		LEFT JOIN yzl_district d  
    			ON tps.dpcode= d.dcode 
    				LEFT JOIN yzl_epc e 
    					ON tps.epcode=e.ecode 
    					 where
						 	 tps.mark IN
							<foreach collection="list" item="mark" open="(" close=")" separator="," >
				               #{mark}
				           </foreach>
				           <if test="area!=null and area!=''">
				           	AND (d.city like "%"#{area}"%" or d.county like "%"#{area}"%") 
				           </if>
				           <if test="year!=null and year!=''">
				            AND tps.createTime like #{year}"%"
				           </if>
				           AND e.ecode=${ecode}
    					     ORDER BY d.city DESC 
	</select>   
	
	    <!-- 跟工程id和状态查看任务进度-->
    <select id="queryByMark" parameterType="com.yzl.pojo.YzlTaskProgressSheet" resultMap="TaskDistrictResultMap">
    	SELECT 
 		 <include refid="TaskProgressDistrictList"></include> 
    	 FROM yzl_task_progress_sheet tps 
    		LEFT JOIN yzl_district d  
    			ON tps.dpcode= d.dcode 
    				LEFT JOIN yzl_epc e 
    					ON tps.epcode=e.ecode 
    					 where
						 	 tps.mark IN
							<foreach collection="list" item="mark" open="(" close=")" separator="," >
				               #{mark}
				           </foreach>
    					    ORDER BY createTime DESC 
	</select>   
	
	    	<!-- 跟工程id和状态不等于指定状态 查看任务进度-->
       <select id="queryByEcodeAndContraryMark" parameterType="com.yzl.pojo.YzlTaskProgressSheet" resultMap="TaskDistrictResultMap">
    	SELECT 
 		 <include refid="TaskProgressDistrictList"></include> 
    	 FROM yzl_task_progress_sheet tps 
    		LEFT JOIN yzl_district d  
    			ON tps.dpcode= d.dcode 
    				LEFT JOIN yzl_epc e 
    					ON tps.epcode=e.ecode 
   						<where>
		   					 <if test="epcode>0">
	   						 	tps.`epcode`=${epcode} 
		   					 </if>
		   					 AND tps.`mark` != "%"#{mark} 
    					 </where>
    					 ORDER BY createTime DESC 
	</select> 
	
	    <!-- 搜索 -->
     <select id="searchKey" resultMap="TaskDistrictResultMap">
		SELECT 
			 <include refid="TaskProgressDistrictList"></include> 
    	 FROM `yzl_task_progress_sheet` tps 
    		LEFT JOIN yzl_district d  
    			ON tps.dpcode= d.dcode 
    				LEFT JOIN yzl_epc e 
    					ON tps.epcode=e.ecode
			 WHERE 
			 	 tps.mark IN
				<foreach collection="list" item="mark" open="(" close=")" separator="," >
	               #{mark}
	           </foreach>
			 	AND tps.mark NOT LIKE '%finish'
			 	AND
			 	(tps.`creator` like "%"#{searchKey}"%"
			 	OR tps.`modifier` like "%"#{searchKey}"%"
			 	OR d.`city` like "%"#{searchKey}"%"
			 	OR tps.`createTime` like "%"#{searchKey}"%"
			 	OR d.`county` like "%"#{searchKey}"%"
			 	OR d.`burg` like "%"#{searchKey}"%"
			 	OR d.`citycode` like "%"#{searchKey}"%"
			 	OR d.`shortcode` like "%"#{searchKey}"%" 
			 	OR d.`village` like "%"#{searchKey}"%" 
			 	OR d.`burg` like "%"#{searchKey}"%"
			 	OR e.ename like  "%"#{searchKey}"%")
    </select>

    <!-- 根据所拥有的权限和工程id搜索 -->
     <select id="searchKeyAndEcode" resultMap="TaskDistrictResultMap">
		SELECT 
			 <include refid="TaskProgressDistrictList"></include> 
    	 FROM `yzl_task_progress_sheet` tps 
    		LEFT JOIN yzl_district d  
    			ON tps.dpcode= d.dcode 
    				LEFT JOIN yzl_epc e 
    					ON tps.epcode=e.ecode
			 WHERE 
			 	tps.mark IN
				<foreach collection="list" item="mark" open="(" close=")" separator="," >
	               #{mark}
	           </foreach>
			 	AND tps.mark NOT LIKE '%finish' 
			 	AND
			 	tps.epcode=${ecode} AND
			 	(tps.`creator` like "%"#{searchKey}"%"
			 	OR tps.`modifier` like "%"#{searchKey}"%"
			 	OR tps.`createTime` like "%"#{searchKey}"%"
			 	OR d.`city` like "%"#{searchKey}"%"
			 	OR d.`county` like "%"#{searchKey}"%"
			 	OR d.`burg` like "%"#{searchKey}"%"
			 	OR d.`citycode` like "%"#{searchKey}"%"
			 	OR d.`shortcode` like "%"#{searchKey}"%" 
			 	OR d.`village` like "%"#{searchKey}"%" 
			 	OR d.`burg` like "%"#{searchKey}"%"
			 	OR e.ename like  "%"#{searchKey}"%")
    </select>
    
        <!-- 根据关键字和指定的工程搜索 -->
     <select id="searchKeyAndEcodeMark" resultMap="TaskDistrictResultMap">
		SELECT 
			 <include refid="TaskProgressDistrictList"></include> 
    	 FROM `yzl_task_progress_sheet` tps 
    		LEFT JOIN yzl_district d  
    			ON tps.dpcode= d.dcode 
    				LEFT JOIN yzl_epc e 
    					ON tps.epcode=e.ecode
			 WHERE 
			 	e.ecode=${ecode} AND
			 	tps.mark IN
				<foreach collection="list" item="mark" open="(" close=")" separator="," >
	               #{mark}
	           </foreach>
			 	 AND
			 	(tps.`creator` like "%"#{searchKey}"%"
			 	OR tps.`modifier` like "%"#{searchKey}"%"
			 	OR tps.`createTime` like "%"#{searchKey}"%"
			 	OR d.`city` like "%"#{searchKey}"%"
			 	OR d.`county` like "%"#{searchKey}"%"
			 	OR d.`burg` like "%"#{searchKey}"%"
			 	OR d.`citycode` like "%"#{searchKey}"%"
			 	OR d.`shortcode` like "%"#{searchKey}"%" 
			 	OR d.`village` like "%"#{searchKey}"%" 
			 	OR d.`burg` like "%"#{searchKey}"%"
			 	OR e.ename like  "%"#{searchKey}"%")
    </select>
    
    	    <!-- 根据指定mark只，根据关键字进行搜索 -->
     <select id="searchKeyAndMark" resultMap="TaskDistrictResultMap">
		SELECT 
			 <include refid="TaskProgressDistrictList"></include> 
    	 FROM `yzl_task_progress_sheet` tps 
    		LEFT JOIN yzl_district d  
    			ON tps.dpcode= d.dcode 
    				LEFT JOIN yzl_epc e 
    					ON tps.epcode=e.ecode
			 WHERE
			 	tps.mark IN
				<foreach collection="list" item="mark" open="(" close=")" separator="," >
	               #{mark}
	           </foreach>
			 	 AND
			 	(tps.`creator` like "%"#{searchKey}"%"
			 	OR tps.`modifier` like "%"#{searchKey}"%"
			 	OR d.`city` like "%"#{searchKey}"%"
			 	OR tps.`createTime` like "%"#{searchKey}"%"
			 	OR d.`county` like "%"#{searchKey}"%"
			 	OR d.`burg` like "%"#{searchKey}"%"
			 	OR d.`citycode` like "%"#{searchKey}"%"
			 	OR d.`shortcode` like "%"#{searchKey}"%" 
			 	OR d.`village` like "%"#{searchKey}"%" 
			 	OR d.`burg` like "%"#{searchKey}"%"
			 	OR e.ename like  "%"#{searchKey}"%")
			 	GROUP d.city
    </select>
    
    
        	    <!-- 搜索和 不等于指定mark -->
        	    
     <select id="searchKeyAndContraryMark" resultMap="TaskDistrictResultMap">
		SELECT 
			 <include refid="TaskProgressDistrictList"></include> 
    	 FROM `yzl_task_progress_sheet` tps 
    		LEFT JOIN yzl_district d  
    			ON tps.dpcode= d.dcode 
    				LEFT JOIN yzl_epc e 
    					ON tps.epcode=e.ecode
			 WHERE 
			 	tps.`mark` != #{mark} AND
			 	(tps.`creator` like "%"#{searchKey}"%"
			 	OR tps.`modifier` like "%"#{searchKey}"%"
			 	OR d.`city` like "%"#{searchKey}"%"
			 	OR tps.`createTime` like "%"#{searchKey}"%"
			 	OR d.`county` like "%"#{searchKey}"%"
			 	OR d.`burg` like "%"#{searchKey}"%"
			 	OR d.`citycode` like "%"#{searchKey}"%"
			 	OR d.`shortcode` like "%"#{searchKey}"%" 
			 	OR d.`village` like "%"#{searchKey}"%" 
			 	OR d.`burg` like "%"#{searchKey}"%"
			 	OR e.ename like  "%"#{searchKey}"%")
    </select>
    
<!--     <select id="queryTaskGroupByCity" resultType="map">
		 SELECT d.city, d.`county` ,SUM(eps.`taskProgress`)/SUM(etp.`taskProgress`) AS "taskProgress"  
		 		FROM yzl_task_progress_sheet eps 
		    		INNER JOIN yzl_district d  
		    			ON eps.dpcode= d.dcode 
						INNER JOIN yzl_epc_task_progress etp
						 ON  d.`dcode`=etp.`dpcode`
							WHERE d.`city` LIKE #{city}
		    					GROUP BY d.`county`
    </select> -->

    <!-- 图形显示 -->
    
        <select id="queryTaskGroupByCity" resultType="map">
			 SELECT d.`city` ,SUM(eps.`taskProgress`) as "taskprogreses"
				 FROM yzl_task_progress_sheet eps 
			    		INNER JOIN yzl_district d  
			    			ON eps.dpcode= d.dcode 
			    					GROUP BY d.`city` 
    	</select>    
    
    
    <select id="queryTaskGroupByCounty" resultType="map">
		 SELECT d.`county`,SUM(eps.`taskProgress`)/SUM(etp.`taskProgress`) AS "taskprogress"  
		 		FROM yzl_task_progress_sheet eps 
		    		INNER JOIN yzl_district d  
		    			ON eps.dpcode= d.dcode 
						INNER JOIN yzl_epc_task_progress etp
						 ON  d.`dcode`=etp.`dpcode`
							WHERE d.`city` LIKE #{city} 
		    					GROUP BY d.`county`
    </select>
    
    <!-- 查询任务进度并按任务ID和地区ID进行分组 -->
    <sql id="queryTaskProgressGroupByDpcodeAndTpcodeSql">
    	tps.id,d.dcode,tps.creator, t.`tname`,e.mark, d.`city`,t.mark,d.county, SUM(tps.`taskProgress`) as "taskProgress",tps.dpcode,tps.createTime
    </sql>
    
     <select id="queryTaskProgressGroupByDpcodeAndTpcode" resultMap="TaskprogressSheetMap">
		SELECT 
			<include refid="queryTaskProgressGroupByDpcodeAndTpcodeSql"></include>
		FROM yzl_task_progress_sheet tps
			INNER JOIN yzl_district d
				ON tps.dpcode=d.dcode
					INNER JOIN yzl_task t
			   		  ON tps.`tpcode`=t.`tcode`
			   		  	inner join `yzl_epc` e
			   		  		on e.ecode=tps.epcode
			   			where tps.mark in 
			   		       <foreach collection="list" item="mark" open="(" close=")" separator="," >
				               #{mark}
				           </foreach>
							GROUP BY tps.`dpcode`,tps.`tpcode`
    </select> 
    
    <select id="searchTaskProgressGroupByDpcodeAndTpcode" resultMap="TaskprogressSheetMap">
		SELECT 
			<include refid="queryTaskProgressGroupByDpcodeAndTpcodeSql"></include>
		FROM yzl_task_progress_sheet tps
			INNER JOIN yzl_district d
				ON tps.dpcode=d.dcode
					INNER JOIN yzl_task t
			   		  ON tps.`tpcode`=t.`tcode`
			   			 INNER JOIN yzl_epc e
							ON tps.`epcode`=e.`ecode`
			   			where tps.mark in 
			   		       <foreach collection="list" item="mark" open="(" close=")" separator="," >
				               #{mark}
				           </foreach>
								AND
								(tps.`creator` like "%"#{searchKey}"%"
							 	OR tps.`modifier` like "%"#{searchKey}"%"
							 	OR d.`city` like "%"#{searchKey}"%"
							 	OR tps.`createTime` like "%"#{searchKey}"%"
							 	OR d.`county` like "%"#{searchKey}"%"
							 	OR d.`burg` like "%"#{searchKey}"%"
							 	OR d.`citycode` like "%"#{searchKey}"%"
							 	OR d.`shortcode` like "%"#{searchKey}"%" 
							 	OR d.`village` like "%"#{searchKey}"%" 
							 	OR d.`burg` like "%"#{searchKey}"%"
							 	OR e.ename like "%"#{searchKey}"%")
							 	
								GROUP BY tps.`dpcode`,tps.`tpcode` ,d.city DESC
    </select> 
    


        <!-- 查询任务进度并按任务ID和地区ID进行分组 -->
     <select id="queryTaskprogressByDcode" resultMap="TaskDistrictResultMap">
		SELECT d.dcode,  d.`city`,d.county,tps.`taskProgress` FROM yzl_task_progress_sheet tps
			INNER JOIN yzl_district d
				ON tps.dpcode=d.dcode
						where  d.dcode=${dcode}			           
    </select> 
    
    
</mapper>
